name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *'

env:
  OPENAI_API_TOKEN: ${{ secrets.OPENAI_API_TOKEN }}
  COHERE_API_TOKEN: ${{ secrets.COHERE_API_TOKEN }}
  DOKU_URL: ${{ secrets.DOKU_URL }}
  DOKU_TOKEN: ${{ secrets.DOKU_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 21.x]
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: NPM CI
      run: npm ci

    - name: NPM build
      run: npm run build --if-present
    
    - name: NPM Test
      run: npm test
